@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.eot");
  src: url("../fonts/GothamBook.eot") format("embedded-opentype"), url("../fonts/GothamBook.woff2") format("woff2"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("truetype"), url("../fonts/GothamBook.svg#GothamBook") format("svg");
}
html {
  max-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

::selection {
  color: #fff;
  background-color: #5b68a4;
}

::-moz-selection {
  color: #fff;
  background-color: #5b68a4;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.HeaderWrapper .container,
.NeooBackgroudWrapper .container,
.NeooSmartSection .container,
.smartSecuritySection .container,
.DoorBellSection .container {
  max-width: 1291px;
}

.HeaderWrapper {
  position: relative;
  height: 73px;
  transition: all 0.5s ease;
}
.HeaderWrapper nav.navbar {
  padding: 0;
  width: 100%;
}
.HeaderWrapper nav.navbar .navbar-brand {
  padding: 0;
  position: relative;
  padding-right: 10px;
}
.HeaderWrapper nav.navbar .navbar-brand img {
  position: relative;
  z-index: 2;
  border-radius: 2px;
}
.HeaderWrapper nav.navbar .navbar-toggler {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: -20px 20px 0 0;
}
.HeaderWrapper nav.navbar .navbar-toggler svg {
  fill: #5b68a4;
  width: 40px;
}
.HeaderWrapper nav.navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.HeaderWrapper nav.navbar .collapse ul li a {
  color: #808285;
  text-transform: uppercase;
  padding: 0 15px;
}
@media (max-width: 1199px) {
  .HeaderWrapper nav.navbar .collapse {
    background-color: #5b68a4;
    z-index: 999;
    padding: 20px 10px;
  }
  .HeaderWrapper nav.navbar .collapse ul li {
    padding: 10px 0;
  }
  .HeaderWrapper nav.navbar .collapse ul li a {
    color: #FFFFFF;
  }
}

.HeaderWrapper.HeaderFixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #FFFFFF;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  transition: all 0.5s ease;
}

.NeooBackgroudWrapper {
  position: relative;
  background-image: url("../images/Neoo-wall-1.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: calc(100% - 73px);
}
.NeooBackgroudWrapper .NeooTextSection {
  display: flex;
  align-items: baseline;
  justify-content: center;
  height: 600px;
  padding-top: 100px;
}
.NeooBackgroudWrapper .NeooTextSection img {
  width: 335px;
  position: sticky;
  top: 80px;
}
@media (max-width: 767px) {
  .NeooBackgroudWrapper .NeooTextSection img {
    width: 225px;
  }
}

.NeooSmartSection {
  position: relative;
  padding: 40px 0;
}
.NeooSmartSection .SmartNeooImage {
  position: relative;
}
.NeooSmartSection .SmartNeooImage img {
  width: 100%;
}
@media (max-width: 767px) {
  .NeooSmartSection .SmartNeooImage {
    text-align: center;
  }
  .NeooSmartSection .SmartNeooImage img {
    width: 80%;
  }
}
.NeooSmartSection .NeooSmartTextContent {
  position: relative;
  padding-top: 52px;
}
.NeooSmartSection .NeooSmartTextContent h2 {
  color: #4f4f4f;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
}
.NeooSmartSection .NeooSmartTextContent h2 span {
  text-transform: initial;
  font-size: 66px;
}
@media (max-width: 1199px) {
  .NeooSmartSection .NeooSmartTextContent h2 {
    font-size: 35px;
  }
  .NeooSmartSection .NeooSmartTextContent h2 span {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .NeooSmartSection .NeooSmartTextContent h2 {
    font-size: 32px;
    text-align: center;
  }
}
.NeooSmartSection .NeooSmartTextContent ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  max-width: 560px;
}
@media (max-width: 991px) {
  .NeooSmartSection .NeooSmartTextContent ul {
    margin-top: 40px;
    justify-content: center;
  }
}
.NeooSmartSection .NeooSmartTextContent ul li {
  position: relative;
  text-align: center;
}
@media (max-width: 991px) {
  .NeooSmartSection .NeooSmartTextContent ul li {
    margin: 0 20px;
  }
}
.NeooSmartSection .NeooSmartTextContent ul li img {
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .NeooSmartSection .NeooSmartTextContent ul li img {
    width: 60px;
    height: 60px;
  }
}
.NeooSmartSection .NeooSmartTextContent ul li p {
  margin: 0;
  font-size: 26px;
  font-weight: normal;
  color: #4f4f4f;
  line-height: 26px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .NeooSmartSection .NeooSmartTextContent ul li p {
    font-size: 20px;
  }
}
.NeooSmartSection .NeooSmartTextContent .AppleGooglePlayLinkSection {
  position: relative;
  margin-top: 140px;
}
@media (max-width: 991px) {
  .NeooSmartSection .NeooSmartTextContent .AppleGooglePlayLinkSection {
    margin-top: 60px;
  }
}
.NeooSmartSection .NeooSmartTextContent .AppleGooglePlayLinkSection ul {
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
}
@media (max-width: 767px) {
  .NeooSmartSection .NeooSmartTextContent .AppleGooglePlayLinkSection ul {
    justify-content: center;
  }
}
.NeooSmartSection .NeooSmartTextContent .AppleGooglePlayLinkSection ul li {
  margin-left: 10px;
}
.NeooSmartSection .NeooSmartTextContent .AppleGooglePlayLinkSection ul li a img {
  width: 152px;
  height: 42px;
}

.smartSecuritySection {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../images/smartSecurityBackground.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1600px) {
  .smartSecuritySection {
    height: 440px;
  }
}
@media (max-width: 991px) {
  .smartSecuritySection {
    height: auto;
    padding: 30px 0;
  }
}
.smartSecuritySection .smartSecurityContent {
  position: relative;
  padding-top: 60px;
}
@media (max-width: 1199px) {
  .smartSecuritySection .smartSecurityContent {
    max-width: 768px;
    margin: 0 auto;
    text-align: center;
  }
}
.smartSecuritySection .smartSecurityContent h2 {
  color: #4f4f4f;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
  color: #FFFFFF;
  text-align: left;
  text-shadow: 3px 2px 5px rgba(77, 77, 77, 0.8);
}
.smartSecuritySection .smartSecurityContent h2 span {
  text-transform: initial;
  font-size: 66px;
}
@media (max-width: 1199px) {
  .smartSecuritySection .smartSecurityContent h2 {
    font-size: 35px;
  }
  .smartSecuritySection .smartSecurityContent h2 span {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .smartSecuritySection .smartSecurityContent h2 {
    font-size: 32px;
    text-align: center;
  }
}
.smartSecuritySection .smartSecurityContent p {
  font-size: 22px;
  color: #FFFFFF;
  max-width: 390px;
  margin-bottom: 40px;
  text-shadow: 3px 2px 5px rgba(77, 77, 77, 0.8);
}
@media (max-width: 1199px) {
  .smartSecuritySection .smartSecurityContent p {
    max-width: 100%;
  }
}
.smartSecuritySection .smartSecurityContent ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px;
}
@media (max-width: 1199px) {
  .smartSecuritySection .smartSecurityContent ul {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .smartSecuritySection .smartSecurityContent ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.smartSecuritySection .smartSecurityContent ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .smartSecuritySection .smartSecurityContent ul li {
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.smartSecuritySection .smartSecurityContent ul li img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.smartSecuritySection .smartSecurityContent ul li span {
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  width: 75px;
}

.DoorBellSection {
  position: relative;
  padding: 60px 0 10px 0;
}
.DoorBellSection .row {
  margin-bottom: 80px;
}
.DoorBellSection .DoorBellimages {
  position: relative;
}
@media (max-width: 767px) {
  .DoorBellSection .DoorBellimages {
    margin-bottom: 30px;
  }
}
.DoorBellSection .DoorBellimages img {
  width: 100%;
}
.DoorBellSection .DoorBellContent {
  position: relative;
  padding-top: 50px;
}
@media (max-width: 1199px) {
  .DoorBellSection .DoorBellContent {
    padding-top: 0;
  }
}
.DoorBellSection .DoorBellContent h2 {
  color: #4f4f4f;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
  font-size: 40px;
  margin-bottom: 30px;
}
.DoorBellSection .DoorBellContent h2 span {
  text-transform: initial;
  font-size: 66px;
}
@media (max-width: 1199px) {
  .DoorBellSection .DoorBellContent h2 {
    font-size: 35px;
  }
  .DoorBellSection .DoorBellContent h2 span {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .DoorBellSection .DoorBellContent h2 {
    font-size: 32px;
    text-align: center;
  }
}
.DoorBellSection .DoorBellContent p {
  font-size: 20px;
  color: #4f4f4f;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .DoorBellSection .DoorBellContent p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .DoorBellSection .DoorBellContent p {
    text-align: center;
  }
}
.DoorBellSection .DoorBellContent ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 100px;
}
@media (max-width: 1199px) {
  .DoorBellSection .DoorBellContent ul {
    margin-top: 50px;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .DoorBellSection .DoorBellContent ul {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .DoorBellSection .DoorBellContent ul {
    flex-wrap: wrap;
  }
}
.DoorBellSection .DoorBellContent ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 991px) {
  .DoorBellSection .DoorBellContent ul li {
    margin: 0px 15px 20px 15px;
  }
}
.DoorBellSection .DoorBellContent ul li a {
  position: relative;
  text-align: center;
  transition: all 0.5s ease;
  text-transform: uppercase;
}
.DoorBellSection .DoorBellContent ul li a::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  padding: 10px;
  background: linear-gradient(120deg, rgba(96, 211, 245, 0.8158613787) 0%, rgba(91, 104, 164, 0.8466737037) 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  width: 140px;
  height: 140px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
.DoorBellSection .DoorBellContent ul li a .DoorBellMiniImages {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: all 0.5s ease;
}
.DoorBellSection .DoorBellContent ul li a .DoorBellMiniImages img {
  width: 80px;
}
.DoorBellSection .DoorBellContent ul li a:hover {
  transition: all 0.5s ease;
  text-decoration: none;
}
.DoorBellSection .DoorBellContent ul li a:hover::before {
  transition: opacity 0.5s ease;
  opacity: 1;
}
.DoorBellSection .DoorBellContent ul li a:hover .DoorBellMiniImages {
  transition: all 0.5s ease;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}
.DoorBellSection .DoorBellContent ul li a span {
  font-size: 16px;
  font-weight: bolder;
  color: #4f4f4f;
}

.smartSecuritySection.IndoorSmartSecuritySection {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../images/Neoo wall 2.1.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 1600px) {
  .smartSecuritySection.IndoorSmartSecuritySection {
    height: 440px;
  }
}
@media (max-width: 991px) {
  .smartSecuritySection.IndoorSmartSecuritySection {
    height: auto;
    padding: 30px 0;
  }
}
.smartSecuritySection.IndoorSmartSecuritySection .smartSecurityContent h2 {
  max-width: 600px;
}
@media (max-width: 1199px) {
  .smartSecuritySection.IndoorSmartSecuritySection .smartSecurityContent h2 {
    max-width: 100%;
    text-align: center;
  }
}

.smartSecuritySection.smartGlobeSection {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../images/Neoo wall 4.1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 1600px) {
  .smartSecuritySection.smartGlobeSection {
    height: 500px;
  }
}
@media (max-width: 991px) {
  .smartSecuritySection.smartGlobeSection {
    height: auto;
    padding: 30px 0;
  }
}
.smartSecuritySection.smartGlobeSection .smartSecurityContent {
  padding-top: 120px;
}
.smartSecuritySection.smartGlobeSection .smartSecurityContent h2 {
  max-width: 600px;
}
.smartSecuritySection.smartGlobeSection .smartSecurityContent ul {
  justify-content: initial;
}
@media (max-width: 991px) {
  .smartSecuritySection.smartGlobeSection .smartSecurityContent ul {
    justify-content: center;
  }
}
.smartSecuritySection.smartGlobeSection .smartSecurityContent ul li {
  margin-right: 20px;
}
.smartSecuritySection.smartGlobeSection .smartSecurityContent ul li:last-child {
  margin-right: 0;
}
@media (max-width: 991px) {
  .smartSecuritySection.smartGlobeSection .smartSecurityContent ul li {
    margin: 0 20px;
  }
}

.DoorBellSection.InDoorsmartGlobeSection .DoorBellContent ul li a .DoorBellMiniImages img {
  width: 45px;
}

.smartSecuritySection.smartPowserSocketSection {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../images/Neoo wall 5.1.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 1600px) {
  .smartSecuritySection.smartPowserSocketSection {
    height: 490px;
  }
}
@media (max-width: 991px) {
  .smartSecuritySection.smartPowserSocketSection {
    height: auto;
    padding: 30px 0;
  }
}
.smartSecuritySection.smartPowserSocketSection .smartSecurityContent ul {
  display: flex;
  justify-content: initial;
}
.smartSecuritySection.smartPowserSocketSection .smartSecurityContent ul li {
  margin-right: 25px;
}
.smartSecuritySection.smartPowserSocketSection .smartSecurityContent ul li:last-child {
  margin-right: 0;
}
@media (max-width: 991px) {
  .smartSecuritySection.smartPowserSocketSection .smartSecurityContent ul {
    justify-content: center;
  }
  .smartSecuritySection.smartPowserSocketSection .smartSecurityContent ul li {
    margin: 0 20px;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .smartSecuritySection.smartPowserSocketSection .smartSecurityContent ul li {
    margin: 0 10px;
  }
}

.DoorBellSection.smartInDoorPowerSocket .DoorBellContent ul {
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  margin-top: 10px;
}
.DoorBellSection.smartInDoorPowerSocket .DoorBellContent ul li {
  margin-right: 30px;
  margin-bottom: 20px;
}
.DoorBellSection.smartInDoorPowerSocket .DoorBellContent ul li a span {
  line-height: 18px;
  display: block;
}

footer {
  position: relative;
  width: 100%;
  background-image: url("../images/footerBackground.png");
  background-repeat: repeat-x;
  height: 100px;
}
footer .footerTextContent {
  display: flex;
  align-items: center;
  justify-content: initial;
  height: 100px;
}
footer .footerTextContent p {
  margin: 0;
  font-size: 14px;
  color: #4f4f4f;
}
footer #BottomTotopButton {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
}
@media (max-width: 991px) {
  footer #BottomTotopButton {
    bottom: 20px;
    right: 20px;
  }
}
footer #BottomTotopButton img {
  width: 50px;
}
@media (max-width: 991px) {
  footer #BottomTotopButton img {
    width: 30px;
  }
}
footer #BottomTotopButton:focus {
  box-shadow: none;
  outline: none;
}

.productPopupWrapper .ProductPopupBody {
  position: relative;
  min-height: 400px;
  padding: 30px;
}
@media (max-width: 991px) {
  .productPopupWrapper .ProductPopupBody {
    padding: 15px;
  }
}
.productPopupWrapper .ProductPopupBody button {
  position: absolute;
  left: auto;
  right: 10px;
  top: 10px;
  background-color: #4f4f4f;
  color: #FFFFFF;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.productPopupWrapper .ProductPopupBody .productImagesSection {
  position: relative;
  text-align: center;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .productPopupWrapper .ProductPopupBody .productImagesSection {
    height: 200px;
  }
}
.productPopupWrapper .ProductPopupBody .productImagesSection img {
  width: 100%;
  max-width: 200px;
}
.productPopupWrapper .ProductPopupBody .productImagesSection .carousel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.productPopupWrapper .ProductPopupBody .productImagesSection .carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4f4f4f;
}
.productPopupWrapper .ProductPopupBody .productImagesSection .carousel .carousel-indicators li.active {
  background-color: #5b68a4;
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription {
  position: relative;
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription h2 {
  color: #4f4f4f;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bolder;
  line-height: 48px;
  font-size: 22px;
  margin-bottom: 20px;
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription h2 span {
  text-transform: initial;
  font-size: 66px;
}
@media (max-width: 1199px) {
  .productPopupWrapper .ProductPopupBody .ProductTextdescription h2 {
    font-size: 35px;
  }
  .productPopupWrapper .ProductPopupBody .ProductTextdescription h2 span {
    font-size: 45px;
  }
}
@media (max-width: 991px) {
  .productPopupWrapper .ProductPopupBody .ProductTextdescription h2 {
    font-size: 32px;
    text-align: center;
  }
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription p {
  font-size: 18px;
  font-weight: 600;
  color: #4f4f4f;
  margin-bottom: 30px;
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .productPopupWrapper .ProductPopupBody .ProductTextdescription ul {
    justify-content: center;
  }
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 80px;
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription ul li img {
  width: 60px;
  margin-bottom: 10px;
}
.productPopupWrapper .ProductPopupBody .ProductTextdescription ul li span {
  font-size: 14px;
  font-weight: bold;
  color: #4f4f4f;
  display: block;
  text-align: center;
}

@media (max-width: 767px) {
  .row.rowDirectionChanges {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=style.css.map */
